<div id="page" class="site">
    <div class="site-inner">
        <a class="skip-link screen-reader-text" href="#content"{{ 'Skip to content'|trans({}, 'twentysixteen')  }}</a>

        <header id="masthead" class="site-header" role="banner">
            <div class="site-header-main">
                <div class="site-branding">
                    {{ site_logo }}

                    {% if is_frontpage() and is_home() %}
                    <h1 class="site-title"><a href="{{ path('home') }}" rel="home">{{ site_name }}</a></h1>
                    {% else %}
                    <p class="site-title"><a href="{{ path('home') }}" rel="home">{{ site_name }}</a></p>
                    {% endif %}

					{% if site_description is defined %}
                    <p class="site-description">{{ site_description }}</p>
                    {% endif %}
                </div><!-- .site-branding -->

                {% if has_nav_menu('primary') or has_nav_menu('social') or true %}
                <button id="menu-toggle" class="menu-toggle"><?php _e( 'Menu', 'twentysixteen' ); ?></button>

                <div id="site-header-menu" class="site-header-menu">

                    <nav id="site-navigation" class="main-navigation" role="navigation" aria-label="<?php esc_attr_e( 'Primary Menu', 'twentysixteen' ); ?>">
                        {{ knp_menu_render('main', {
                            'leaf_class': 'menu-item'

                        }, 'twenty_sixteen') }}
                    </nav><!-- .main-navigation -->

                    {% if has_nav_menu('social') %}
                    <nav id="social-navigation" class="social-navigation" role="navigation" aria-label="<?php esc_attr_e( 'Social Links Menu', 'twentysixteen' ); ?>">
                        <?php
									wp_nav_menu( array(
										'theme_location' => 'social',
                        'menu_class'     => 'social-links-menu',
                        'depth'          => 1,
                        'link_before'    => '<span class="screen-reader-text">',
										'link_after'     => '</span>',
                        ) );
                        ?>
                    </nav><!-- .social-navigation -->
                    {% endif %}
                </div><!-- .site-header-menu -->
                {% endif %}
            </div><!-- .site-header-main -->

            {% if header_image is defined %}
            <div class="header-image">
                <a href="{{ path('home') }}" rel="home">
                    <img src="{{ header_image }}" alt="{{ site_name }}">
                </a>
            </div><!-- .header-image -->
            {% endif %}
        </header><!-- .site-header -->

        <div id="content" class="site-content">
